<template>
  <div class="row m-3">
    <!-- start col -->
    <div class="col-4" v-for="todo in todos" :key="todo.id">
      <div class="card m-1">
        <div class="card-header d-flex">
          <input
            type="checkbox"
            class="ml-1"
            id="checkl"
            v-on:click="doingJob(todo.id-1)"
            :checked="todo.completed"
          />
          <div class="ml-4">{{ todo.id }}</div>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ todo.title }}</h5>
          <div class="card-text d-flex">
            <strong v-if="todo.completed" class="text-success">this item is completed</strong>
            <strong v-if="!todo.completed" class="text-danger">this item isn't completed</strong>
          </div>
        </div>
      </div>
    </div>

    <!-- end-col -->
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "FetchApi",
  data() {
    return {
      perPage: 3,
      currentPage: 1,
      todos: [],
    };
  },
  methods: {
    doingJob(id) {
      this.todos[id].completed = !this.todos[id].completed;
    },
  },
  created() {
    axios
      .get("https://jsonplaceholder.typicode.com/todos?_limit=11")
      .then((res) => {
        this.todos = res.data;
      })
      .catch((err) => {
        console.log(err);
      });
  },
};
</script>
<style>
#checkl {
  width: 25px;
  height: 25px;
}
</style>