<template>
  <div class="home">
    <!-- <HelloWorld msg="Welcome to Your Vue.js App" /> -->
    <FormValidate
      msg="Welocome, Please SignUp here :"
      v-on:add-user="AddUser"
    />
    <Users v-bind:all_users="all_users" />
  </div>
</template>

<script>
// @ is an alias to /src
// import HelloWorld from "@/components/HelloWorld.vue";
import FormValidate from "@/components/FormValidate.vue";
import Users from "@/components/Users.vue";

export default {
  name: "Home",
  components: {
    // HelloWorld,
    FormValidate,
    Users,
  },
  data() {
    return {
      all_users: [
        {
          fname: "Erfan",
          lname: "Samani",
          email: "esamani77@gmail.com",
        },
        {
          fname: "Sobhan",
          lname: "PourSamani",
          email: "esamani75@gmail.com",
        },
        {
          fname: "Ehsan",
          lname: "Ahmadpour",
          email: "ehsansamani77@gmail.com",
        },
      ],
    };
  },
  methods: {
    AddUser(newUser) {
      this.all_users = [...this.all_users, newUser];
    },
  },
};
</script>

<style scoped>
.LogoHolder {
  background: darkblue;
  width: 200px;
  margin: auto auto;
}
img {
  width: 199px;
}
</style>
