<template>
  <div class="container w-50">
    <h2 class="m-4">{{ msg }}</h2>

    <form @submit="addUseer" class="text-left">
        <p v-if="errors.length">
          <b>Please correct the following error(s):</b>
          <ul>
            <li v-for="error in errors" :key="error">{{ error }}</li>
          </ul>
        </p>

      <div class="form-group">
        <label for="Fname">Firstname:</label>
        <input type="text" name="FName" id="fname" v-model="Fname" class="form-control" />
      </div>
      <div class="form-group">
        <label for="Lname">Lastname:</label>
        <input type="text" name="LName" id="lname" v-model="Lname" class="form-control" />
      </div>
      <div class="form-group">
        <label for="pass">Password:</label>
        <input
          type="password"
          name="pass"
          id="pass"
          v-model="pass"
          minlength="5"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label for="pass">Email:</label>
        <input type="email" name="email" id="email" v-model="email" class="form-control" />
      </div>

      <input type="submit" value="submit" class="btn btn-primary w-100"/>
    </form>
  </div>
  <!-- <div>
    <p>djaskldjaskldjasljdaskljdklas</p>
  </div>-->
</template>

<script>
export default {
  name: "FormValidate",
  data() {
    return {
          errors: [],
      Fname: "",
      Lname: "",
      pass: "",
      email: "",
    };
  },
  props: {
    msg: String,
  },
  methods: {
    checkForm: function () {
      this.errors = [];

      if (!this.Fname) {
        this.errors.push("Name required.");
        console.log(this.errors);
      }
      if (!this.email) {
        this.errors.push("Email required.");
        console.log(this.errors);
      } else if (!this.validEmail(this.email)) {
        this.errors.push("Valid email required.");
        console.log(this.errors);
      }

      if (!this.errors.length) {
        return true;
      }
    },
    addUseer(e) {
      e.preventDefault();
      this.checkForm();
      const newUser = {
        fname: this.Fname,
        lname: this.Lname,
        email: this.email,
      };
      // this.users = [...this.users, user];


        if (this.errors.length==0){
            this.$emit("add-user", newUser);
        }
      (this.Fname = ""),
        (this.Lname = ""),
        (this.pass = ""),
        (this.email = ""),
      console.log(newUser);
    },
    validEmail: function (email) {
      var re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
    },
  },
};
</script>
