<template>
  <div class="container mt-5">
    <ul v-for="user in all_users" class="list-group">
      <li class="list-group-item mt-1 d-flex justify-content-around">
        <div>{{ user.fname }} - {{ user.lname }}</div>
        |
        <div><strong>email</strong>: {{ user.email }}</div>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "Users",
  props: ["all_users"],
};
</script>
<style></style>
